nav > ul {
  display: flex;
  gap: 40px;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
}

nav > ul > li {
  list-style-type: none;
  padding: 5px;
}

nav > ul > li:hover {
  background-color: gray;
  /* padding: 5px; */
}
